<div class="row">

	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div class="panels">
			<div class="titulologin text-center">
			<h3 class="titlelogin">LOGIN-<span class="spaner">TSIS</span></h3>
			 <%= image_tag "logoUni.png", :alt => "logoUni",:class=>"Log", :title => "logoUni"%>
				
				<div class="borde">
				</div>
				<br>
				<br>
			</div>
			<div class="form-group">
			<input name="user" type="text" placeholder="Username" class="form-control">
			<br>
				<input name="pasword" type="password" placeholder="Password" class="form-control">
			</div>
			<br>
			<br>
			<div class="form-group">
				<button class="btn btn-primary btn-group-justified">
					 Login 
				</button>
					<br>
			</div>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>
