<div class="row">

	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div class="panels">
			<div class="titulologin ">
			 <!--<%= image_tag "tsis.png", :alt => "logoUni",:class=>"LogoUser", :title => "logoUni"%>
				<i class="fa fa-user fa-5x color-blue" aria-hidden="true"></i>-->

				<br>
				<br>
			</div>
				
			<div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user fa-lg" aria-hidden="true"></span></span>
                    <input name="user" type="text" placeholder="Username" class="form-control">
             </div>

			<div class="input-group">
				<span class="input-group-addon pass" id="basic-addon1"><span class="fa fa-unlock-alt fa-lg" aria-hidden="true"></span></span>
				<input name="pasword" type="password" placeholder="Password" class="form-control">
			</div>
			<br>
			<br>
			<div class="form-group">
				<button class="btn btn-primary btn-group-justified">
					 Login 
				</button>
					<br>
			</div>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>
