		<div class="container">

			<div id="divLogin">

		        <div class="form-group">
		            <div style="font-family: Cambria,serif; margin-bottom:2em; text-align:center; "><h3><span><%=icon('fa fa-user')%></span> Login </h3></div> 
		            <br>
		            <div class="row">
		                <div class="input-group">
		                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
		                 	<input type="text" class="form-control" placeholder="Username">

		                </div>

		      
		                <div class="input-group">
		                    <span class="input-group-addon" id="Span1"><span class="glyphicon glyphicon-lock"></span></span>
		                     <input type="text" class="form-control"  placeholder="Password">
		    
		                </div>

		                <br />
		                <br />
		                <div class="btn-group btn-group-justified">
		                    <div class="btn-group" role="group">
		                    <input 	type="button" value="Aceptar" class="btn btn-default">     
		                    </div>
		                </div>
		              
		            </div>
		        </div>
		    </div>

		</div>