<div class="container">
	<br>
	<br>
	<div class="row">
		<div class="col-md-10">
		<div class="row">
			<div class="col-md-3">
			<label style=" width: 150px;">Primer Nombre:</label>
			<input type="text" name="Primernombre" class="form-control">
			</div>
			<div class="col-md-3">
			<label style=" width: 150px;">Segundo Nombre:</label>
			<input type="text" name="Segundornombre" class="form-control">
			</div>
			<div class="col-md-3">
			<label style=" width: 150px;">Primer Apellido:</label>
			<input type="text" name="Primerapellido" class="form-control">
			</div>
			<div class="col-md-3">
			</div>
	    </div>
		</div>
		<div class="col-md-2">
			<img src="" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
		<label style=" width: 150px;">Edad:</label>
		<input type="text" name="Edad" class="form-control">
		</div>
		<div class="col-md-3">
		<label style=" width: 150px;">Tipo Sanguineo:</label>
		<input type="text" name="Tiposanguineo" class="form-control">
		</div>
		<div class="col-md-3">
		<label style=" width: 150px;">Cedula:</label>
		<input type="text" name="Cedula"  class="form-control" maxlength="14">
		</div>
		<div class="col-md-3">
		<label style=" width: 150px;">Direccion:</label>
		<input type="text" name="Direccion" class="form-control">
		</div>
	</div>
</div>