// Place all the styles related to the Estudiante controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body .modal {
  width: 90%; /* desired relative width */
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}


@media (min-width: 768px)
{
	.tamanio {

    width: auto;
    margin-top: 10em;
}
}